

<footer class="bg-blue-900 rounded-lg shadow m-4 backdrop-blur-lg">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white-500 sm:text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">ChristianCoC</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white-500 sm:mt-0">
        <li>
            <a href="#top" class="me-4 md:me-6 hover:underline">About</a>
        </li>
        <li>
            <a href="#experience" class="hover:underline me-4 md:me-6">Experience</a>
        </li>
        <li>
            <a href="#projects" class="hover:underline me-4 md:me-6">Projects</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>
