<header class="flex justify-between items-center py-5 w-[1120px] mx-auto mb-4">
    <img class="rounded-full w-12 h-12" src="https://scontent.faep7-1.fna.fbcdn.net/v/t39.30808-6/362273824_10227722172393433_3527966250056040591_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeFskkk_jyTd8qg0JwraOAu4rZlenF6XPrWtmV6cXpc-tTYIrbb70h0PSCbeA6lwOHY&_nc_ohc=FeXsT8Wj0FEAX929xmY&_nc_ht=scontent.faep7-1.fna&oh=00_AfAkdhFk2WVtKchvhE0jHMS2l01xwXFF-DUo53uZbZC07A&oe=65AD3E7A" alt="Photo">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>